<div
  class="
    bg-gray-600
    py-4
    px-3
    mx-auto
    flex
    justify-start
    space-x-5
    items-center
    text-xl
    font-semibold
  "
>
  <a routerLink="/">NgRapid Game</a>
  <form>
    <input
      class="py-2 px-3 text-gray-600 border-0 rounded-l-lg focus:outline-none"
      type="text"
      placeholder="Search 500,000+ games.."
    />
    <button
      class="
        bg-indigo-800
        text-white
        px-5
        hover:bg-white hover:text-indigo-600
        text-md
        py-2
        text-center
        hover:border-l-2 hover:border-indigo-600
        rounded-r-lg
      "
    >
      Search
    </button>
  </form>
</div>
