/* You can add global styles to this file, and also import other style files */
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

* {
  margin: 0;
  padding: 0;
}

mwl-gauge {
  width: 250px;
  height: 250px;
  display: block;
  padding: 10px;
}
mwl-gauge > .gauge > .dial {
  stroke: #eee;
  stroke-width: 2;
  fill: rgba(0, 0, 0, 0);
}
mwl-gauge > .gauge > .value {
  stroke: rgb(47, 227, 255);
  stroke-width: 2;
  fill: rgba(0, 0, 0, 0);
}
mwl-gauge > .gauge > .value-text {
  fill: rgb(47, 227, 255);
  font-family: sans-serif;
  font-weight: bold;
  font-size: 1em;
}
.dial {
  stroke-width: 6 !important;
}
.value {
  stroke-dasharray: none !important;
  stroke-width: 8 !important;
}

.value-text {
  fill: #fff !important;
  font-weight: 500 !important;
}
.mat-select-trigger {
  background: white !important;
  padding: 5px 10px !important;
  align-items: center;
  text-align: start;
  border-radius: 5px;
}
